NEXT_PUBLIC_SITE_URL=https://asteroids-vert.vercel.app
NEXT_PUBLIC_CHAIN_ID=8453
NEXT_PUBLIC_BASE_APP_ID=
NEXT_PUBLIC_BUILDER_CODE=bc_154jy199
NEXT_PUBLIC_CHECK_IN_CONTRACT_ADDRESS=0xd4F383d030764D44fb0C41806f7CBfdC11A422Ac
